@media only screen and (min-width: 320px) and (max-width: 650px) {
  .navigation {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation__search {
    display: none;
  }
  .photo {
    width: 100%;
  }
  footer {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer__list {
    justify-content: center;
    margin-bottom: 10px;
  }
  .footer__item {
    margin-bottom: 10px;
  }
  .photo {
    margin-top: 0;
    background-color: transparent;
    border: 0;
  }
  .photo__add-comment {
    display: none;
  }
}

/*@media only screen and (min-width: 320px) and (max-width: 650px) {
}*/
